@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

input:-webkit-autofill,
input:-moz-autofill,
input:-ms-input-placeholder {
  background-color: rgba(255, 255, 255, 0)
}

::-webkit-scrollbar {
  @apply w-1 bg-zinc-600 rounded-full
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-500
}

input::-webkit-calendar-picker-indicator {
  filter: invert(100%) brightness(30%);
  width: 14px;
  height: 14px;
}

